[submodule "libs/common/bsh"]
	path = libs/common/bsh
	url = https://github.com/Ujhhgtg/bsh
[submodule "libs/common/reflekt"]
	path = libs/common/reflekt
	url = https://github.com/Ujhhgtg/reflekt
[submodule "third_party/proot-static"]
	path = third_party/proot-static
	url = https://github.com/berilevi/proot-static.git
[submodule "libs/common/scripta"]
	path = libs/common/scripta
	url = https://github.com/Ujhhgtg/scripta
	branch = main
[submodule "third_party/lsplant"]
	path = third_party/lsplant
	url = https://github.com/LSPosed/LSPlant.git
	# xtask initializes only DexBuilder and its dependencies. The upstream test
	# submodules use SSH and are not needed to build the runtime.
	update = none
[submodule "third_party/xz-embedded"]
	path = third_party/xz-embedded
	url = https://github.com/tukaani-project/xz-embedded.git
