*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/target

# Project exclude paths
/.spec-workflow/
/app/release/
/.idea/inspectionProfiles/Project_Default.xml
/app/.cxx/
/app/debug/
/.kotlin
/nul
/app/nul
/.idea/deploymentTargetSelector.xml
/app/src/main/jniLibs/*/libwekit_native.so
/build-logic/convention/build/

/decrypted_wechat.db
/app/src/main/java/nuke/data/cipher/NativeCrypto.kt
/app/src/main/java/dev/ujhhgtg/wekit/features/items/debug/LoadWeChatXDex.kt
/app/src/main/java/dev/ujhhgtg/wekit/features/items/debug/MTH7851.kt

# Reference APKs used for decompilation & local agent workspace
/*.apk
/.monkeycode/
